.imgForm {
    background-image: linear-gradient($colorGradiente1, $colorGradiente2), url("../img/eventos.jpg");
    @extend .BckImage;
    height: 300px;
    margin-bottom: 15px;
    padding-top: 30px;
    border: 20px;
    text-align: center;
}

form {
    .btn:hover{
        @include animaHover(scale(1.05), all 0.9s);
        color: $colorNegro;
    }
}
