.imgForm {
    background-color: $colorGradiente2;
    background-image: linear-gradient($colorGradiente1, $colorGradiente2), url("../img/eventos.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: none;
    height: 300px;
    margin-bottom: 10px;
    padding-top: 30px;
    text-align: center;
}